@media (max-width: 767px) {

    .avaliacoes {
        height: 50vh;
        margin: -20px;
    }

    .sk-post .sk-post__user-image-container {
        margin-bottom: 10px;
        margin: auto;
        max-width: 100px;
    }

}

@media (min-width: 768px) {

    .avaliacoes {
        height: 720px;
    }

}

.avaliacoes {
    border-radius: 10px;
    padding: 10px 5px;
    background: #d7d7d7;
}

.avaliacoes .reviews{
    text-align: center;
    overflow-y: scroll;
    overscroll-behavior: auto;
    height: 100%;
}

.sk-wrapper {
    columns: 2;
    gap: 0;
}

.sk-masonry-item {
    background: var(--cor-branca);
    break-inside: avoid;
    position: relative;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 0 5px 10px;
}

.sk-read-more, .sk-post__button {
    display: none;
}

.sk-badge .sk-badge__value {
    font-size: 25pt;
}

.sk-badge .sk-badge__stars {
    margin-bottom: 25px;
}

.sk-badge .sk-badge__title {
    font-weight: bold;
}

.sk-badge a {
    text-decoration: none;
    color: var(--cor-texto);
}

.sk-badge .sk-badge__count {
    text-decoration: underline;
}

.sk-post .sk-post__header {
    margin-bottom: 30px;
}

.sk-post .sk-post__header a {
    text-decoration: none;
    color: var(--cor-texto);
}

.sk-post .sk-post__user-image-container img {
    margin-bottom: 1ch;
}

.sk-post .sk-post__user-image-container img {
    width: 100%;
    border-radius: 50%;
}

.sk-post .sk-post__head-details h3 {
    font-size: 12pt;
    margin-bottom: 1ch;
}

.sk-post .sk-post__rating {
    margin-top: 1ch;
}

.sk-post .sk-post__body {
    text-align: center;
    font-size: 10pt;
}

.sk-post .sk-post__footer {
    display: flex;
    justify-content: center;
}

.sk-post__rating-icon {
    fill: #fbbc04;
}