:root {
    --max-width: 1000px;
    --min-width: 320px;

    --cor-primaria: #102a83;
    --cor-secundaria: #0069ff;
    --cor-terciaria: #019fde;
    --cor-fundo: var(--cor-branca);

    --cor-branca: white;
    --cor-cinza: #4D5B7C;
    --cor-preto: #060e12;

    --cor-button-1: #c4d4ff81;
    --cor-button-2: transparent;

    --font-family-p: Inter;
    --font-family-h1: Inter;
    --font-family-h2: Inter;
    --font-family-h3: Inter;
    --font-family-navlink: Inter;
    
    --font-size-lg-p: 13.5pt;
    --font-size-lg-h1: 24pt;
    --font-size-lg-h2: 24pt;
    --font-size-lg-h3: 15pt;
    --font-size-navlink: 12pt;

    --font-size-sm-p: 7.5pt;
    --font-size-sm-h1: 27pt;
    --font-size-sm-h2: 7.5pt;
    --font-size-sm-h3: 12pt;

    --font-weight-p: 100;
    --font-weight-h1: 100;
    --font-weight-h2: 100;
    --font-weight-h3: bold;
    --font-weight-navlink: 100;

    --line-height-p: 1.4em;
    --line-height-h1: 1.2em;
    --line-height-h2: 1em;

    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* LUSITANA FONT */

@font-face {
    font-family: "Lusitana";
    src: url("fonts/Lusitana/Lusitana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lusitana";
    src: url("fonts/Lusitana/Lusitana-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* INTER FONT */

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-ExtraLight.ttf") format("truetype");
    font-weight: lighter; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: medium; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold; 
    font-style: normal;
}

body {
    background-color: var(--cor-fundo);
    min-width: var(--min-width);
    padding-top: 67.5px;
}