/* TODAS AS SESSÕES */

section {
    position: relative;
}

section .top {
    position: absolute;
    transform: translateY(calc(-100% + 1px));
    left: 0;
    top: 0;
    width: 100vw;
}

section .conteudo {
    max-width: var(--max-width);
    margin: auto;
    padding: 5ch 0;
}

/* SESSÃO PRINCIPAL */

#landing {
    background-color: var(--cor-secundaria);
    background:
      conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#0059d5 0 120deg,#0000 0),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#0061e8 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#0069ff 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#0069ff 0 120deg,#0000 0),
      conic-gradient(from -180deg at calc(100%/3) 50%,#0061e8  60deg,#0069ff 0 120deg,#0000 0),
      conic-gradient(from 60deg at calc(200%/3) 50%,#0069ff  60deg,#0059d5 0 120deg,#0000 0),
      conic-gradient(from -60deg at 50% calc(100%/3),#0069ff 120deg,#0061e8 0 240deg,#0059d5 0);
    background-size: 211px 122px;
}

#landing .conteudo {
    justify-content: center;
    max-height: 3000px;
}

#landing h1 {
    margin: 0;
    margin-top: 5px;
}

#landing button#saibaMais {
    font-family: Inter;
    font-weight: 100;
    margin-top: 60%;
    border: none;
}

/* SESSÃO 'SERVIÇOS' */

#servicos #procure-nos {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#servicos #procure-nos li::marker {
    content: '';
}

#servicos #procure-nos .li {
    padding: 10px;
    border: 3px #E1E7ED solid;
    border-radius: 16px;
    margin: 5px;
}

#servicos h3#nossosMetodos {
    text-align: center;
    font-weight: 100;
}

#servicos h3#nossosMetodos a {
    text-decoration: none;
    font-weight: normal;
}

#servicos #nossosMetodos {
    background: #eaf4ff;
    text-align: center;
    margin: auto;
}

#servicos #nossosMetodos a {
    text-decoration: none;
}

/* SESSÃO 'VALORES' */

#valores {
    background: var(--cor-quaternaria);
    padding-top: 100px;
}

#valores .valor {
    margin-bottom: 80px;
}

#valores .valor > * {
    display: inline-block;
}

#valores .valor-imagem img {
    width: 100%;
}

#valores .sk-masonry-item {
    border-radius: 20px;
    padding: 20px;
    color: black;
    margin: 10px;
}

/* SESSÃO 'CONFIRA' */

#confira {
    background: var(--cor-terciaria);
}

#confira h2 {
    background: #e1e7ed;
    color: var(--cor-cinza);
    font-weight: bold;
    margin: auto;
    border-radius: 16px;
}

/* SESSÃO 'NEUROFRIENDS' */

#neuroFriends .top {
    transform: translateY(calc(-100% + 1px)) scaleX(-1);
}

#neuroFriends .conteudo {
    padding: 5ch 0;
}

#neuroFriends h2 {
    color: var(--cor-cinza);
    font-weight: bold;
    margin: 0;
    line-height: 2rem;
}

#neuroFriends h2 span {
    font-size: 13.5pt;
    font-weight: 400;
}

#neuroFriends #trilha {
    position: relative;
    background: #eeeeee;
    height: 400px;
}

#neuroFriends #trilha > * {
    position: absolute;
}

#neuroFriends #trilho {
    width: 140%;
    bottom: 0;
    left: -20%;
}

#neuroFriends .medalha {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    background: red;
}

#neuroFriends .balao {
    width: 210px;
    height: 185px;
    background: grey;
}