/* TODAS AS SESSÕES */

section {
    position: relative;
}

section .top {
    position: absolute;
    transform: translateY(calc(-100% + 1px));
    left: 0;
    top: 0;
    width: 100vw;
}

section .conteudo {
    max-width: var(--max-width);
    margin: auto;
    padding: 5ch 0;
}

/* SESSÃO PRINCIPAL */

#landing {
    background-color: var(--cor-secundaria);
    background:
      conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#0059d5 0 120deg,#0000 0),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#0061e8 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#0069ff 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#0069ff 0 120deg,#0000 0),
      conic-gradient(from -180deg at calc(100%/3) 50%,#0061e8  60deg,#0069ff 0 120deg,#0000 0),
      conic-gradient(from 60deg at calc(200%/3) 50%,#0069ff  60deg,#0059d5 0 120deg,#0000 0),
      conic-gradient(from -60deg at 50% calc(100%/3),#0069ff 120deg,#0061e8 0 240deg,#0059d5 0);
    background-size: 211px 122px;
}

#landing .conteudo {
    justify-content: center;
    max-height: 3000px;
}

#landing h1 {
    margin: 0;
    margin-top: 5px;
}

#landing button#saibaMais {
    font-family: Inter;
    font-weight: 100;
    margin-top: 60%;
    border: none;
}

/* SESSÃO 'SERVIÇOS' */

#servicos #procure-nos {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#servicos #procure-nos li::marker {
    content: '';
}

#servicos #procure-nos .li {
    padding: 10px;
    border: 3px #E1E7ED solid;
    border-radius: 16px;
    margin: 5px;
}

#servicos h3#nossosMetodos {
    text-align: center;
    font-weight: 100;
}

#servicos h3#nossosMetodos a {
    text-decoration: none;
    font-weight: normal;
}

#servicos #nossosMetodos {
    background: #eaf4ff;
    text-align: center;
    margin: auto;
}

#servicos #nossosMetodos a {
    text-decoration: none;
}

/* SESSÃO 'VALORES' */

#valores {
    background: var(--cor-quaternaria);
    padding-top: 100px;
}

#valores .valor {
    margin-bottom: 80px;
}

#valores .valor > * {
    display: inline-block;
}

#valores .valor-imagem img {
    width: 100%;
}

/* SESSÃO 'CONFIRA' */

#confira {
    background: var(--cor-terciaria);
    padding-bottom: 100px;
}

#confira h2:first-child {
    background: #e1e7ed;
    color: var(--cor-cinza);
    font-weight: bold;
    margin: auto;
    border-radius: 16px;
}

#confira h2 {
    margin-bottom: 30px;
    font-weight: 100;
}

/* SESSÃO 'NEUROFRIENDS' */

#neuroFriendsTop {
    transform: translateY(calc(-100% + 1px)) scaleX(-1);
}

#neuroFriends {
    background: #f9fbfc;
    background: -webkit-linear-gradient(90deg, #0000002e, #f9fbfc 80%);
    overflow-x: hidden;
    font-family: Inter;
}

#neuroFriends .conteudo {
    padding: 5ch 0;
}

#neuroFriends h1 {
    color: var(--cor-cinza);
    font-weight: bold;
    margin: 0;
    line-height: 2rem;
    text-align: center;
}

#neuroFriends h1 span {
    font-weight: 400;
}

#neuroFriends #trilha {
    position: relative;
}

#neuroFriends #trilha > * {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#neuroFriends #trilho {
    width: 160%;
    bottom: 0;
    left: -30%;
}

#neuroFriends .nivel {
    z-index: 2;
    text-align: center;
    font-weight: bold;
}

#neuroFriends .descricao * {
    position: relative;
}

#neuroFriends .nivel, .balao, .medalha {
    border-radius: 12px;
}

#neuroFriends .balao {
    z-index: 1;
    background: #d9d9d9;
}

#neuroFriends .modulos {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#neuroFriends ul, .duracao {
    color: #4d5b7c;
}

#neuroFriends .duracao {
    text-align: end;
}

#neuroFriends ul {
    padding-left: 1ch;
    font-size: 10.5pt;
}

#neuroFriends .balao li::marker{
    content: '- ';
}

#neuroFriends .rabinho {
    z-index: 0;
    height: 55px;
    margin-bottom: 15px;
    transform: translateY(-15px);
}

#neuroFriends #bronze .medalha, #bronze .nivel {
    background: #eb924e;
}

#neuroFriends #prata .rabinho * {
    margin: 0 -2px;
}

#neuroFriends #prata .medalha, #prata .nivel {
    background: #dfdfdf;
}

#neuroFriends #ouro .medalha, #ouro .nivel {
    background: #e0d94f;
}

#neuroFriends h2 {
    text-align: start;
    margin-bottom: 40px;
}

#neuroFriends p {
    line-height: 1.2rem;
}

#neuroFriends iframe {
    background: grey;
    height: 280px;
    width: 100%;
}

#neuroFriends #facaParte {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#neuroFriends #facaParte button {
    background: #d9d9d9;
    width: 100%;
    height: 100%;
    border: none;
}

#neuroFriends #videoExplicacao {
    overflow: hidden;
    border-radius: 10px;
    max-width: 100%;
}

#neuroFriends #videoExplicacao iframe {
    width: 100%;
    height: 100%;
}

/* PARCEIROS */

#parceiros {
    background: var(--cor-azul-escuro);
}

#parceiros h2 {
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: 0 2px 25px rgba(255, 255, 255, 0.25);
}

/* RODAPÉ */

footer {
    background: var(--cor-preto);
    position: relative;
    overflow: hidden;
}

footer .estampa {
    position: absolute;
    opacity: 0.1;
}

footer ul {
    padding: 0;
}

footer li {
    margin-bottom: 6px;
}

footer li::marker {
    content: '';
}

footer li img {
    width: 2ch;
    margin-right: 1ch;
}

footer .logo img {
    margin-bottom: 20px;
    max-width: 100%;
}

footer .titulo {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
}

footer p, footer li, footer .navegar a, footer .contato a {
    color: #6f7b98;
    text-decoration: none;
}

#copyright {
    background: var(--cor-azul-escuro);
    color: #ffffff88;
}