@media (max-width: 767px) {

    #landing {
        padding-bottom: 150px;
        padding-top: 80px;
    }

    #landing #logoPrincipal {
        margin: auto;
        height: 90px;
        padding-right: 20px;
    }

    #landing .titulo {
        display: grid;
        justify-content: center;
    }

    #landing h1 {
        text-align: left;
        width: 240px;
        padding-left: 60px;
    }

    #landing button#saibaMais {
        font-size: 7.5pt;
        border-radius: 10px;
        width: 95px; height: 30px;
    }
}