@media (max-width: 767px) {

    #landing {
        padding-bottom: 300px;
        padding-top: 35px;
    }

    #landing #logoPrincipal {
        margin: auto;
        height: 90px;
        padding-right: 50px;
    }

    #landing .titulo {
        display: grid;
        justify-content: center;
    }

    #landing br {
        display: none;
    }

    #landing h1 {
        text-align: left;
        width: 240px;
        padding-left: 40px;
    }

    #landing button#saibaMais {
        font-size: 7.5pt;
        border-radius: 10px;
        width: 95px; height: 30px;
    }

    #servicos .conteudo {
        --offset: -320px;
        transform: translateY(var(--offset));
        margin-bottom: var(--offset);
    }

    #servicos #procure-nos .li {
        width: 100px;
        height: 120px;
    }
}