@media (min-width: 768px) {

    /* SESSÃO PRINCIPAL */

    #landing {
        padding-bottom: 100px;
    }

    #landing #logoPrincipal {
        height: 150px;
    }

    #landing button#saibaMais {
        font-size: 15pt;
        border-radius: 20px;
        width: 210px; height: 55px;
    }

    #landing .conteudo {
        padding: 20vh 0;
    }

    /* SESSÃO 'SERVIÇOS' */

    #servicos {
        z-index: 1;
    }

    #servicos .conteudo {
        --offset: -180px;
        transform: translateY(var(--offset));
        margin-bottom: var(--offset);
    }

    #servicos #nossosMetodos {
        transform: translateY(50px);
        font-size: 15pt;
        width: 550px;
        height: 100px;
        border-radius: 16px;
        padding: 15px;
    }

    #servicos #procure-nos .li {
        width: 200px;
        height: 200px;
    }

    /* SESSÃO 'VALORES' */

    #valores .valor-imagem {
        width: 100px;
        vertical-align: top;
        margin-right: 40px;
    }

    #valores .valor-imagem img {
        height: 100px;
        justify-self: center;
    }

    #valores .valor-descricao {
        max-width: 300px;
        width: 28vw;
    }

    #valores .sk-masonry-item {
        background: var(--cor-branca);
    }

    /* SESSÃO 'CONFIRA' */

    #confira h2:first-child {
        transform: translateY(-27.5px);
        font-size: 15pt;
        width: 230px;
        height: 55px;
        padding: 16px;
    }

    /* SESSÃO 'NEUROFRIENDS' */

    #neuroFriends .conteudo {
        padding: 50px;
    }

    #neuroFriends h1 {
        font-size: 30pt;
    }

    #neuroFriends h1 span {
        font-size: var(--font-size-lg-p);
    }

    #neuroFriends #trilha {
        height: 550px;
        margin-bottom: 80px;
    }

    #neuroFriends .nivel {
        padding: 5px 15px;
        width: 100px;
        height: 40px;
        font-size: 15pt;
        transform: translateY(50%);
    }

    #neuroFriends .balao {
        width: 210px;
        height: 210px;
        padding: 10px 20px;
    }

    #neuroFriends .modulos {
        margin: 16px auto;
    }

    #neuroFriends .balao li {
        margin: 10px 0;
    }

    #neuroFriends br {
        display: none;
    }

    #neuroFriends .medalha {
        --size: 100px;
        width: var(--size);
        height: var(--size);
    }

    #neuroFriends #bronze {
        align-items: end;
        left: 0;
    }

    #neuroFriends #bronze .medalha, #bronze .nivel {
        box-shadow: 0 9px #e1664d;
    }

    #neuroFriends #prata {
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }

    #neuroFriends #prata .medalha, #prata .nivel {
        box-shadow: 0 9px #b2c1ce;
    }

    #neuroFriends #ouro {
        align-items: start;
        right: 0;
    }

    #neuroFriends #ouro .medalha, #ouro .nivel {
        box-shadow: 0 9px #e1a94f;
    }

    #neuroFriends #videoExplicacao {
        width: 430px;
        height: 280px;
    }

    #neuroFriends #facaParte {
        margin: 80px auto 0 auto;
        width: 430px;
        height: 80px;
    }

    #neuroFriends #facaParte button {
        font-size: 24pt;
    }

    /* RODAPÉ */

    footer .conteudo {
        padding: 40px 50px 20px 50px;
    }

    footer .estampa {
        left: -80px;
        bottom: -100px;
    }

    footer .titulo {
        font-size: 18pt;
    }

    footer .logo img {
        width: 300px;
    }
}