@media (max-width: 767px) {

    /* SESSÃO PRINCIPAL */

    #landing {
        padding-bottom: 300px;
        padding-top: 35px;
    }

    #landing #logoPrincipal {
        margin: auto;
        height: 90px;
        padding-right: 50px;
    }

    #landing .titulo {
        display: grid;
        justify-content: center;
    }

    #landing br {
        display: none;
    }

    #landing h1 {
        text-align: left;
        width: 240px;
        padding-left: 40px;
    }

    #landing button#saibaMais {
        font-size: 7.5pt;
        border-radius: 10px;
        width: 95px; height: 30px;
    }

    /* SESSÃO 'SERVIÇOS' */

    #servicos { 
        z-index: 0;
    }

    #servicos .conteudo {
        --offset: -320px;
        transform: translateY(var(--offset));
        margin-bottom: var(--offset);
        padding-bottom: 0;
    }

    #servicos #procure-nos .li {
        width: 100px;
        height: 120px;
    }

    #servicos #nossosMetodos {
        font-size: 9.8pt;
        line-height: 5ch;
        padding: 3ch 0 15ch 0;
    }

    /* SESSÃO 'VALORES' */

    #valores {
        --offset: -60px;
        transform: translateY(var(--offset));
        margin-bottom: var(--offset);
    }

    #valores .conteudo {
        padding: 40px;
    }

    #valores .valor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #valores .valor-imagem {
        vertical-align: top;
        margin-bottom: 10px;
    }

    #valores .valor-imagem img {
        height: 50px;
    }

    #valores .valor-descricao {
        width: 100px;
    }

    #valores .avaliacoes {
        margin: -40px;
        max-height: 50vh;
        background: var(--cor-branca);
        border-radius: 10px;
        padding: 10px;
    }

    #valores .sk-masonry-item {
        background: rgb(226, 226, 226);
    }

    /* SESSÃO 'CONFIRA' */
    
    #confira {
        padding: 60px 0 10px 0;
    }

    #confira h2:first-child {
        width: 150px;
        height: 30px;
        padding: 8px;
    }

    /* SESSÃO 'NEUROFRIENDS' */

    #neuroFriends .top {
        display: none;
    }

    #neuroFriends .conteudo {
        --px: 20px;
        padding-left: var(--px);
        padding-right: var(--px);
    }

    #neuroFriends .titulo {
        padding: 0;
    }
    
    #neuroFriends h1 {
        font-size: 14.6pt;
        line-height: 1rem;
        padding-top: 10px
    }

    #neuroFriends h1 span {
        font-size: 7pt;
    }

    #neuroFriends hr {
        width: 100%;
    }

    #neuroFriends #trilha {
        height: 340px;
        margin-bottom: 40px;
    }

    #neuroFriends .rabinho {
        display: none;
    }

    #neuroFriends .nivel {
        padding: 5px 15px;
        width: 70px;
        height: 25px;
        font-size: 9pt;
        margin: auto;
        transform: translateY(20%);
    }

    #neuroFriends .balao {
        position: relative;
        width: 95px;
        height: 160px;
        padding: 22px 15px;
        border-radius: 5px !important;
    }

    #neuroFriends .modulos {
        font-size: 9pt;
        line-height: 0.6rem;
        margin-bottom: 10px;
    }

    #neuroFriends .modulos span {
        font-weight: normal;
        font-size: 6pt;
        text-transform: capitalize;
    }

    #neuroFriends ul {
        font-size: 6pt;
    }

    #neuroFriends .balao li {
        margin: 5px 0;
    }

    #neuroFriends .duracao {
        position: absolute;
        bottom: 0;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        font-size: 5.3pt;
    }

    #neuroFriends .medalha {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: 5px;
    }

    #neuroFriends #bronze {
        align-items: center;
        bottom: 40px;
        left: -10px;
    }

    #neuroFriends #bronze .medalha {
        margin-top: 20px;
    }

    #neuroFriends #bronze .medalha, #bronze .nivel {
        box-shadow: 0 5px #e1664d;
    }

    #neuroFriends #prata {
        align-items: center;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #neuroFriends #prata .medalha {
        margin-top: 50px;
    }

    #neuroFriends #prata .medalha, #prata .nivel {
        box-shadow: 0 5px #b2c1ce;
    }

    #neuroFriends #ouro {
        align-items: center;
        bottom: 40px;
        right: -10px;
    }

    #neuroFriends #ouro .medalha {
        margin-top: 20px;
    }

    #neuroFriends #ouro .medalha, #ouro .nivel {
        box-shadow: 0 5px #e1a94f;
    }


}