@media (min-width: 768px) {

    #landing {
        padding-bottom: 100px;
    }

    #landing #logoPrincipal {
        height: 150px;
    }

    #landing button#saibaMais {
        font-size: 15pt;
        border-radius: 20px;
        width: 210px; height: 55px;
    }

    #landing .conteudo {
        padding: 20vh 0;
    }

    #servicos .conteudo {
        transform: translateY(-180px);
    }
}