@media (max-width: 767px) {

    body {
        font-size: var(--font-size-sm-p);
    }

    p {
        font-size: var(--font-size-sm-p) !important;
    }

    h1 {
        font-size: var(--font-size-sm-h1);
    }

    h2 {
        font-size: var(--font-size-sm-h2);
        margin-bottom: 40px;
    }

    h3 {
        font-size: var(--font-size-sm-h3);
    }

    .buttons {
        font-size: 9pt;
    }

    .title {
        height: 50px;
    }
    
    .title h2 {
        font-size: var(--font-size-sm-h2);
        line-height: 2.2em;
    }

    .title h2 span {
        font-size: 18pt;
    }

    .blank {
        height: 20vh !important;
    }

    header {
        position: fixed;
        top: 0;
        padding-top: 0px;
        background-color: var(--cor-primaria);
    }

    header .navbar-brand {
        padding-left: 20px;
    }

    header #togglerWrapper {
        /* Dimensionamento em 1:1 */
        position: relative;
        height: 0;
        width: 80px;
        padding-bottom: 100%;
    }

    header .navbar-toggler {
        position: absolute;
        background-color: var(--cor-secundaria);
        border: none;
        border-radius: 0;

        /* Dimensionamento em 1:1 */
        height: 100%; width: 100%; top:0; left: 0;
    }

    header .navbar-toggler.collapsed {
        background-color: var(--cor-primaria);
    }

    header .navbar-nav {
        background-color: var(--cor-secundaria);
    }

    header .nav-link {
        padding: 10px 25px;
    }

    header .nav-link.active {
        font-weight: bold;
    }

    header #navContato .nav-link.active {
        font-weight: 100;
        color: var(--cor-branca);
        background-color: transparent;
    }

    header #btnContato {
        display: none;
    }

    .buttons button {
        width: 100%;
        height: 60px;
    }

    .buttons .button-2 button{
        border: 1px solid var(--cor-fundo);
    }

    .blank {
        height: 32vh;
    }
    
    .flutuante {
        min-width: 250px;
        height: 340px;
        width: 75vw;
        margin-bottom: 40px;
    }

    .flutuante .carousel-control-next, .carousel-control-prev {
        background: var(--cor-branca);
        opacity: 1;
        border-radius: 50%;
        --size: 30px;
        width: var(--size); height: var(--size);
        top: calc(50% - 20px);
    }

    .flutuante .carousel-control-next-icon, .carousel-control-prev-icon {
        --size: 15px;
        filter: brightness(0);
        width: var(--size); height: var(--size);
    }

    .flutuante .imagem-carrossel div {
        height: 150px;
    }

    .flutuante .descricao-carrossel {
        padding: 20px 50px;
    }
}