* {
    text-shadow: none;
    box-shadow: none;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 0 25px;
}

header .navbar {
    max-width: var(--max-width);
    margin: auto;
}

header .navbar-brand img {
    height: 30px
}

header #navbarNav {
    width: 100%;
}

header nav a.nav-link {
    color: var(--cor-branca);
    text-decoration: none;
    font-family: var(--font-family-navlink);
    font-size: var(--font-size-navlink);
    font-weight: var(--font-weight-navlink);
    border-radius: 20px;
    transition: 0.15s ease-out;
}

header nav a.nav-link:hover {
    filter: brightness(0.6);
    transition: 0.15s ease-out;
}

header nav a.nav-link.active {
    color: black;
    background-color: white;
    transition: 0.15s ease-out;
}

main {
    z-index: 0;
}

footer {
    z-index: -1;
    min-height: 25vh;
    padding: 45px 0 10px 0;
    position: relative;
}

footer .fundo {
    background-color: var(--cor-preto);
    bottom: 0;
    top: auto;
    height: 150%;
    overflow: hidden;
}

footer .fundo img {
    position: absolute;
    left: -28px;
    bottom: -85px;
    height: 300px;
    opacity: 0.05;
}

footer #redesSociais {
    margin: 30px 0 25px 0;
    width: 60%;
}

footer #redesSociais .rede-social img {
    height: 32px;
    justify-self: center;
}

footer #copyright {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    font-family: Inter;
    font-weight: lighter;
    font-size: 10.5pt;
}

footer hr {
    background-color: var(--cor-primaria);
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 6px;
}

hr {
    color: transparent;
    background: var(--cor-cinza);
    padding-bottom: 2px;
    opacity: 0.5;
    margin: 80px auto;
    width: 70%;
}

p {
    color: var(--cor-cinza);
    font-family: var(--font-family-p);
    font-weight: var(--font-weight-p);
    line-height: var(--line-height-p);
}

h2, h3, h4, h5, h6 {
    color: var(--cor-preto);
}

h1 {
    font-family: var(--font-family-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1);
}

h2 {
    text-align: center;
    margin-bottom: 80px;
    font-family: var(--font-family-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-family: var(--font-family-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}

h2 span {
    font-family: Lusitana;
    font-weight: bold;
}

.flutuante {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
    border-radius: 20px;
    margin-bottom: 80px;
    background: #ECF1F7;
    padding: 0;
}

.flutuante .carousel img{
    width: 100%;
    border-radius: 20px;
}

.flutuante .descricao-carrossel {
    padding: 15px;
    padding-left: 0;
}

.dark {
    color: white;
}

.light {
    color: var(--cor-texto);
}

.dark button:hover {
    filter: brightness(0.6);
    transition: 0.15s ease-out;
}

.light button:hover {
    filter: opacity(0.6);
    transition: 0.15s ease-out;
}

.fundo {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
 
    width: 100%;
    height: 100%;
}

#whatsapp {
    z-index: 10;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#whatsapp img{
    filter: drop-shadow(5px 5px 15px black);
}