@media (min-width: 768px) {

    #whatsapp {
        bottom: 50px;
        right: 50px;
    }

    #whatsapp img{
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.650));
        width: 85px;
    }

    p {
        font-size: var(--font-size-lg-p);
    }

    h1 {
        font-size: var(--font-size-lg-h1)
    }

    h2 {
        font-size: var(--font-size-lg-h2);
        margin-bottom: 80px;
    }

    h3 {
        font-size: var(--font-size-lg-h3);
    }

    header {
        padding: 0 25px;
    }

    header #navbarNav {
        position: absolute;
        display: grid;
        justify-content: center;
    }
    
    header .navbar-brand {
        padding: 16px 0 22px 0;
    }

    header .nav-link {
        padding: 5px 12px !important;
        border-radius: 20px;
    }

    header .nav-link:hover {
        filter: brightness(0.6);
        transition: 0.15s ease-out;
    }

    header #btnContato button:hover {
        filter: brightness(0.6);
        transition-duration: 200ms;
        text-decoration: underline;
    }

    header #navContato {
        display: none;
    }

    footer .footer-logo {
        height: 88px;
    }

    .flutuante {
        width: 935px;
        height: 275px;
        max-width: 75vw;
        margin-bottom: 80px;
    }

    .flutuante .imagem-carrossel div {
        height: 275px;
    }

    .flutuante .descricao-carrossel {
        padding: 20px;
        padding-right: 30px;
    }

    .dark .flutuante .carousel-control-next, 
    .dark .flutuante .carousel-control-prev {
        opacity: 1;
        filter: brightness(1);
    }

    .light .flutuante .carousel-control-next, 
    .light .flutuante .carousel-control-prev {
        opacity: 1;
        filter: brightness(0);
    }

    .dark button:hover {
        filter: brightness(0.6);
        transition: 0.15s ease-out;
    }

    .light button:hover {
        filter: opacity(0.6);
        transition: 0.15s ease-out;
    }

    .empresa {
        width: 180px;
        height: 100px;
        margin: 10px;
    }
}