* {
    text-shadow: none;
    box-shadow: none;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--cor-primaria);
}

header .navbar {
    max-width: var(--max-width);
    margin: auto;
    justify-content: space-between;
}

header .navbar-brand {
    z-index: 5; 
}
header .navbar-brand img {
    height: 30px
}

header #navbarNav {
    width: 100%;
}

header .nav-link {
    color: var(--cor-branca);
    text-decoration: none;
    font-family: var(--font-family-navlink);
    font-size: var(--font-size-navlink);
    font-weight: var(--font-weight-navlink);
    transition: 0.15s ease-out;
}

header .nav-link:hover {
    filter: brightness(0.6);
    transition: 0.15s ease-out;
}

header .nav-link.active {
    color: black;
    background-color: white;
    transition: 0.15s ease-out;
}

header #btnContato button{
    z-index: 5;
    position: relative;
    background: transparent;
    border: solid #d9d9d9 2px;
    border-radius: 5px;
    color: var(--cor-branca);
    font-size: 12pt;
    font-weight: bold;
    padding: 10px 20px;
    transition-duration: 200ms;
}

header #btnContato button:hover {
    filter: brightness(0.6);
    transition-duration: 200ms;
    text-decoration: underline;
}

main {
    z-index: 0;
}

hr {
    color: transparent;
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: 2px;
    opacity: 0.5;
    margin: 20px auto;
    width: 100%;
}

p {
    font-family: var(--font-family-p);
    font-weight: var(--font-weight-p);
    line-height: var(--line-height-p);
}

h1 {
    font-family: var(--font-family-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1);
}

h2 {
    text-align: center;
    font-family: var(--font-family-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-family: var(--font-family-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}

span {
    font-family: Inter;
}

.flutuante {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
    border-radius: 20px;
    margin-bottom: 80px;
    background: #ECF1F7;
    padding: 0;
    margin: auto;
}

.flutuante .carousel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.flutuante .imagem-carrossel div {
    overflow: hidden;
    border-radius: 20px;
}

.dark {
    color: var(--cor-branca);
}

.light p {
    color: var(--cor-cinza);
}

.light {
    color: var(--cor-preto);
}

.dark button:hover {
    filter: brightness(0.6);
    transition: 0.15s ease-out;
}

.light button:hover {
    filter: opacity(0.6);
    transition: 0.15s ease-out;
}

.fundo {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
 
    width: 100%;
    height: 100%;
}

#whatsapp {
    z-index: 10;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#whatsapp img{
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.650));
}

.flutuante {
    color: var(--cor-preto) !important;
}

.empresas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.empresa {
    background: #d9d9d9;
    width: 350px;
    height: 200px;
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;
}

.empresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}