@media (max-width: 575px) {

    body {
        font-size: var(--font-size-sm-p);
    }

    p {
        font-size: var(--font-size-sm-p) !important;
    }

    h1 {
        font-size: var(--font-size-sm-h1);
    }

    .buttons {
        font-size: 9pt;
    }

    .title {
        height: 50px;
    }
    
    .title h2 {
        font-size: var(--font-size-sm-h2);
        line-height: 2.2em;
    }

    .title h2 span {
        font-size: 18pt;
    }

    .blank {
        height: 20vh !important;
    }

}

@media (max-width: 991px) {

    body {
        padding-top: 90px;
    }

    header {
        position: fixed;
        top: 0;
        padding-top: 0px;
        background-color: var(--cor-primaria);
    }

    header .navbar-brand {
        padding-left: 25px;
    }

    header #togglerWrapper {
        /* Dimensionamento em 1:1 */
        position: relative;
        height: 0;
        width: 80px;
        padding-bottom: 100%;
    }

    header .navbar-toggler {
        position: absolute;
        background-color: var(--cor-secundaria);
        border: none;
        border-radius: 0;

        /* Dimensionamento em 1:1 */
        height: 100%; width: 100%; top:0; left: 0;
    }

    header .navbar-toggler.collapsed {
        background-color: var(--cor-primaria);
    }

    header .navbar-nav {
        background-color: var(--cor-secundaria);
        padding: 10px 25px;
    }

    header .nav-item {
        padding: 10px 0;
    }

    header hr {
        display: none;
    }

    section {
        min-height: calc(100vh - 90px);
    }

    section .fundo {
        border-radius: 20px 20px 0 0;
    }

    footer .logo {
        justify-self: center;
    }

    footer .footer-logo {
        height: 70px;
        padding-right: 25px;
    }

    footer #redesSociais {
        justify-self: center;
    }
    
    footer #redesSociais .rede-social img {
        height: 32px;
    }

    .buttons button {
        width: 100%;
        height: 60px;
    }

    .buttons .button-2 button{
        border: 1px solid var(--cor-fundo);
    }

    .blank {
        height: 32vh;
    }
}