@media (min-width: 768px) {

    p {
        font-size: var(--font-size-lg-p);
    }

    h1 {
        font-size: var(--font-size-lg-h1)
    }

    h2 {
        font-size: var(--font-size-lg-h2);
    }

    h3 {
        font-size: var(--font-size-lg-h3);
    }

    header #navbarNav {
        position: absolute;
        display: grid;
        justify-content: center;
        padding: 0 2ch;
    }

    header .navbar-nav {
        transform: translateX(-20px);
    }
    
    header .navbar-brand {
        padding: 15px 0 20px 0;
    }

    header .nav-link {
        padding: 5px 20px !important;
    }

    footer .footer-logo {
        height: 88px;
    }

    footer #redesSociais {
        margin-top: 15px;
        justify-self: end;
    }

    footer #redesSociais .rede-social img {
        height: 40px;
    }

}