@media (min-width: 576px) {
    
    body {
        font-size: var(--font-size-lg-p);
    }

    p {
        font-size: var(--font-size-lg-p);
    }

    h1 {
        font-size: var(--font-size-lg-h1)
    }

    .title {
        height: 82px;
    }

    .title h2 {
        font-size: var(--font-size-lg-h2);
    }

    .title h2 span {
        font-size: 37.5pt;
    }
}

@media (min-width: 992px) {

    header {
        padding: 30px 5% 0 5%;
        position: relative;
    }

    header .navbar-brand img {
        height: 88px
    }

    header hr {
        width: 90%;
        color: transparent;
        background-color: var(--cor-fundo);
        padding-bottom: 1px;
        opacity: 1;
        margin: auto;
        margin-top: 5px;
    }

    section {
        padding: 6% 12%;
        min-height: 100vh;
    }

    section .conteudo {
        padding: 0 6%; 
    }

    footer .footer-logo {
        height: 88px;
    }

    footer #redesSociais {
        margin-top: 15px;
        justify-self: end;
    }

    footer #redesSociais .rede-social img {
        height: 40px;
    }

}