<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAPS | Contato</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-lg.css">
    <link rel="stylesheet" href="style-sm.css">
    <link rel="stylesheet" href="contato.css">
    <html data-bs-theme="light"></html>

    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/logo-la-branco.png"> 
</head>
<body>
    <div id="fundo-bolhas">
        <!-- BOLHAS ESQUERDA -->
        <img src="images/bolha.png" style="

                width: 40px;

                top: 200px;
                left: 80px;

            ">
        <img src="images/bolha.png" style="

                width: 250px;

                bottom: 20px;
                left: 120px;

            ">
        <img src="images/bolha.png" style="

                width: 350px;

                bottom: 50px;
                left: -80px;

            ">

        <!-- BOLHAS DIREITA -->
        <img src="images/bolha.png" style="

                width: 40px;

                bottom: 220px;
                right: 85px;

            ">
        <img src="images/bolha.png" style="

                width: 170px;

                bottom: 400px;
                right: -40px;

            ">
        <img src="images/bolha.png" style="

                width: 210px;

                bottom: 450px;
                right: -100px;

            ">
    </div>

    <!-- CABEÇALHO -->
    <header> 
    <nav class="navbar navbar-expand-lg order-1 p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="images/logo-laps.png" alt="Logo da empresa LAPS"></a>

        <div>
            <div id="togglerWrapper">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="index.html">HOME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="parceiros.html">PARCEIROS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="contato.html">CONTATO</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <hr>
    </header>

    <!-- MAIN -->
    <main class="container-fluid p-0">

        <!-- SESSÃO PRINCIPAL -->
        <section id="landing" class="dark">
            <h1>Entre em contato conosco.</h1>
            <p>
                Entre em contato para saber mais sobre nossos serviços de psicopedagogia e treinamento empresarial. 
                Estamos prontos para ajudar!
            </p>
        </section>       

        <!-- NOSSOS CONTATOS -->
        <section id="nossosContatos" class="light">
            <div class="fundo"></div>

            <div class="row contatos">

                <div class="col-12 col-lg-6 contato">
                    <h2>Nossos Contatos:</h2>
                    <ul>
                        <li><p><span class="chave">Telefone: </span><span class="valor">+55 21 97526-0406</span></p></li>
                        <li><p><span class="chave">E-mail: </span><span class="valor">laps.acolhimento@gmail.com</span></p></li>
                    </ul>
                </div>

                <div class="col-12 col-lg-6 contato">
                    <h2>Redes Sociais:</h2>
                    <ul>
                        <li><p><span class="chave">Instagram: </span><span class="valor">@laps.acolhimento</span></p></li>
                        <li><p><span class="chave" style="width: 7ch">Youtube: </span><span class="valor">@aprenderecomeraprendizagem8451</span></p></li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row atendimentos">
                
                <div class="col-12 col-lg-6 atendimento">
                    <h2>Atendimento Psicopedagógico</h2>
                    <p><span>Aline Oliveira</span><span>Seg - Sex: 8h - 20h</span></p>
                </div>
                <div class="col-12 col-lg-6 atendimento d-grid">
                    <a href=""><button>AGENDAR</button></a>
                </div>

            </div>
        </section>

    <!-- RODAPÉ -->
    <footer class="dark">
        <div class="fundo">
            <img src="images/mini-logo-branco.png" alt="Logo LAPS branca Mini">
        </div>
        <div class="container">
            <div class="row justify-content-between m-0">
                <div class="col-12 col-lg-6 d-grid">
                    <a href="index.html" class="logo"><img class="footer-logo" src="images/logo-laps.png" alt="Logo da empresa LAPS"></a>
                </div>

                <!-- REDES SOCIAIS -->
                <div class="col-12 col-lg-6 d-grid">
                    <div id="redesSociais" class="row">
                        <div class="col-4 rede-social">
                            <a href="https://www.facebook.com/aprenderecomer/" class="d-grid">
                                <img src="images/facebook-icon.png" alt="Ícone do Facebook">
                            </a>
                        </div>
                        <div class="col-4 rede-social">
                            <a href="https://www.youtube.com/channel/UCMVQKXvIGJl6u_NAq08nnUw" class="d-grid">
                                <img src="images/youtube-icon.png" alt="Ícone do Youtube">
                            </a>
                        </div>
                        <div class="col-4 rede-social">
                            <a href="https://www.instagram.com/laps.acolhimento" class="d-grid">
                                <img src="images/instagram-icon.png" alt="Ícone do Instagram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="copyright">&copy;LAPS. All rights reserved.</p>
        <hr>
    </footer>
    
    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>