<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aline Oliveira | Psicopedagoga</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <html data-bs-theme="light"></html>

    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/pipa.png"> 
</head>
<body class="bg-light">

    <!-- CABEÇALHO -->
    <header class="navbar">
        <div class="container">

            <!-- TÍTULO -->
            <a class="navbar-brand" href="./index.html">
                ALINE OLIVEIRA
            </a>

            <!-- ELEMENTOS DO MENU -->
            <span class="d-flex gap-3">
                <a class="nav-link active" href="./index.html">
                    Parceiros</a>
                <a class="nav-link active" href="./index.html">
                    Serviços</a>
                <a class="nav-link active" href="./index.html">
                    Contato</a>
            </span> 
        </div>
    </header>

    <!-- MAIN -->
    <main class="container">
        <hr>

        <section class="row justify-content-center"
        style="height: 320px;">

            <!-- FOTO DA ALINE -->
            <div class="col-4 position-relative">
                <img src="images/foto-aline.png" alt="Aline Oliveira" 
                class="rounded-5 position-absolute end-0">
            </div>

            <!-- PSCICOPEDAGOGA -->
            <div class="col-6">

                <h1>Aline Oliveira</h1>
                <h2>Psicopedagoga</h2>

                <p>
                    Atuante em educação há <strong>mais de 25 anos</strong> ministrando aulas 
                    na educação infantil, no ensino fundamental I e II, ensino médio, em 
                    pós-graduação e profissionalizante...
                </p>

                <!-- BOTÕES -->
                <div class="row justify-content-evenly">
                    <button type="button" class="btn btn-primary col-5 rounded-5">
                        <a>SOBRE MIM</a>
                    </button>
                    
                    <button type="button" class="btn btn-outline-primary col-5 rounded-5">
                        <a>ATENDIMENTOS</a>
                    </button>
                </div>
            </div>
        </section> 

        <section class="row bg-primary d-none">
            <!-- CARROSSEL -->
            <div class="col-5">
                <div id="carouselExampleAutoplaying" class="carousel slide h-100 bg-primary rounded-5" style="overflow: hidden;" data-bs-ride="carousel">

                    <!-- INDICADORES (BOLINHAS) -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <!-- ELEMENTOS DO CARROSSEL -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="ahttps://picsum.photos/900" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="ahttps://picsum.photos/300" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="ahttps://picsum.photos/300" class="d-block w-100" alt="...">
                        </div>
                    </div>

                    <!-- BOTÕES DE NAVEGAÇÃO (DESATIVADOS) -->
                    <!-- 
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> 
                    -->
                </div>
            </div>
        </section>
    </main>
    
    <footer class="container-fluid bg-black d-none">
       <div class="container text-center text-white fw-light mt-2">
        <p>&copy 2024 Aline Oliveira. All rights reserved.</p></div>
    </footer>

    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>