<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAPS</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="screen-lg.css">
    <link rel="stylesheet" href="screen-sm.css">
    <html data-bs-theme="light"></html>

    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/logo-la-branco.png"> 
</head>
<body>
    <div id="fundo-criancas"></div>

    <!-- CABEÇALHO -->
    <header> 
    <nav class="navbar navbar-expand-lg order-1 p-0">
    <div class="container-fluid p-0 px-lg-5">
        <a class="navbar-brand" href="#"><img src="images/laps-logo.png" alt="Logo da empresa LAPS"></a>

        <div>
            <div id="togglerWrapper">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav w-75 justify-content-around">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">PARCEIROS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">CONTATO</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <hr class="col-lg-9">
    </header>

    <!-- MAIN -->
    <main class="container-fluid p-0">

        <!-- SESSÃO PRINCIPAL -->
        <section id="landing" class="dark">
            <div class="row justify-content-start m-0">
                <div class="col-8 col-xl-6 offset-1 offset-lg-2">
                <h1>Lugar de <strong>Acolhimento</strong>, <strong>Preparação</strong> e <strong>Superação</strong></h1>
                <p>Serviços psicopedagógicos e cognitivos, Atendimento para autistas e alfabetização para adultos</p>

                <div class="row buttons">
                    <div class="col-10 col-sm-5 col-md-5 col-xl-4 mb-3 mb-sm-0 button-1"><button>SERVIÇOS</button></div>
                    <div class="col-12 col-sm-7 col-md-6 col-xl-5 button-2"><button>TREINAMENTOS</button></div>
                </div>
                </div>
            </div>
        </section>       

        <!-- NOSSOS VALORES -->
        <section id="nossosValores" class="container">
            <div class="title light p-0">
                <img src="images/logo-la-preto.png" alt="Logo LAPS">
                <h2>Conheça os <br><span>Nossos Valores</span></h2>
            </div>

            <div class="row valores gy-6">
                <div class="col-12 col-lg-6 valor">
                    <div class="valor-imagem"><img src="" alt=""></div>
                    <div class="valor-descricao">
                        <h3>Empatia:</h3>
                        <p>Compreender e valorizar as experiências únicas de cada indivíduo.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6 valor">
                    <div class="valor-imagem"><img src="" alt=""></div>
                    <div class="valor-descricao">
                        <h3>Excelência:</h3>
                        <p>Buscar continuamente a melhoria na formação e nos serviços prestados.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6 valor">
                    <div class="valor-imagem"><img src="" alt=""></div>
                    <div class="valor-descricao">
                        <h3>Inclusão:</h3>
                        <p>Defender a igualdade de oportunidades e o respeito à diversidade.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6 valor">
                    <div class="valor-imagem"><img src="" alt=""></div>
                    <div class="valor-descricao">
                        <h3>Colaboração:</h3>
                        <p>Trabalhar em parceria com comunidades e instituições para um impacto maior.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- NOSSOS SERVIÇOS -->
        <section id="nossosServicos">
            <div class="container">
                <div class="title dark">
                    <img src="images/logo-la-branco.png" alt="Logo LAPS">
                    <h2>Nossos<br><span>Serviços</span></h2>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div id="servicos" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#servicos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#servicos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#servicos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#servicos" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="descricao-carrossel">
                                        <h3>Treinamentos e Workshops:</h3>
                                        <p>
                                            Programas de capacitação para profissionais de diversas áreas, incluindo saúde, 
                                            educação e atendimento ao cliente, focando em técnicas específicas para interagir 
                                            e apoiar pessoas neurodiversas.
                                        </p>
                                    </div>
                                    <img src="https://picsum.photos/500" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <div class="descricao-carrossel">
                                        <h3>Consultorias Personalizadas:</h3>
                                        <p>
                                            Assessoria a instituições para desenvolver práticas inclusivas e criar ambientes 
                                            adequados para o atendimento de pessoas neurodiversas.
                                        </p>
                                    </div>
                                    <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <div class="descricao-carrossel">
                                        <h3>Materiais Educativos:</h3>
                                        <p>
                                            Produção de guias, manuais e recursos digitais que auxiliem na compreensão e no 
                                            manejo de diferentes neurodivergências.
                                        </p>
                                    </div>
                                    <img src="https://picsum.photos/300" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <div class="descricao-carrossel">
                                        <h3>Espaços de Acolhimento:</h3>
                                        <p>
                                            Criação de ambientes onde pessoas neurodiversas e suas famílias possam se sentir 
                                            seguras e apoiadas, promovendo grupos de apoio e troca de experiências.
                                        </p>
                                    </div>
                                    <img src="https://picsum.photos/200" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-12 col-lg-6 blank">
                    </div>
                </div>
            </div>
        </section>

        <!-- VEJA TAMBÉM -->
        <section id="vejaTambem" class="container light">
            <div class="row">
                <div class="col-8 align-content-center">
                    <span>Veja também sobre:</span>
                    <h2 class="m-0">Entrevistas para TV Futura e Band</h2>
                </div>
                <div class="col-4 imagens p-0">
                    <img src="images/arte-para-tv-futura.webp" alt="Entrevista para a TV futura" class="img-fluid">
                    <img src="images/arte-para-tv-futura.webp" alt="Entrevista pra Band" class="img-fluid">
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="fundo"></div>
        <div class="container">
            <div class="row justify-content-between m-0">
                <div class="col-6">
                    <a href="#"><img id="footer-logo" src="images/laps-logo.png" alt="Logo da empresa LAPS"></a>
                </div>

                <!-- REDES SOCIAIS -->
                <div class="col-6 position-relative">
                    <div id="redesSociais" class="row">
                        <div class="col-3 rede-social">
                            <a href="">
                                <img src="images/facebook-icon.png" alt="">
                            </a>
                        </div>
                        <div class="col-3 rede-social">
                            <a href="">
                                <img src="images/youtube-icon.png" alt="">
                            </a>
                        </div>
                        <div class="col-3 rede-social">
                            <a href="">
                                <img src="images/instagram-icon.png" alt="">
                            </a>
                        </div>
                        <div class="col-3 rede-social">
                            <a href="">
                                <img src="images/email-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>