<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aline Oliveira | Psicopedagoga</title>
    <link rel="stylesheet" href="bootstrap-5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <html data-bs-theme="light"></html>

    <link rel="icon" type="image/png" rel="noopener" target="_blank" href="images/pipa.png"> 
</head>
<body>

    <!-- CABEÇALHO -->
     <nav class="navbar navbar-expand-md navbar-dark bg-black">
        <div class="container position-relative" style="max-width: 90%;">

            <a class="navbar-brand" href="#"><img src="images/pipa.png" width="60"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                    <!-- OPÇÕES -->
                    <li class="nav-item">
                        <a class="nav-link active" href="./index.html">
                            Aline Oliveira</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicos.html">
                            Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./parceiros.html">
                            Parceiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contato.html">
                            Contato</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="container-fluid">

    </main>
    
    <footer class="container-fluid bg-black">
       <div class="container text-center text-white fw-light mt-2">
        <p>&copy 2024 Aline Oliveira. All rights reserved.</p></div>
    </footer>

    <script src="bootstrap-5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>