@media (max-width: 575px) {

    section#landing h1 {
        font-size: 30pt;        
    }

    section#nossosContatos {
        line-height: 0.4em;
    }

    section#nossosParceiros h2 {
        font-size: 12pt;
    }

    section#nossoParceiros p {
        font-size: 7.5pt;
    }

}

@media (max-width: 991px) {

    #fundo-bolhas {
        height: 110vh !important;
    }

    section {
        padding: 35px;
    }

    section#landing {
        padding-right: 130px;
        min-height: calc(66vh - 220px);
    }

    section#landing p {
        line-height: 1.6em;
        margin-top: 15px;
    }

    section#nossosParceiros {
        min-height: 0;
    }

    section#nossosParceiros .fundo {
        border-radius: 20px;
    }

    section#nossosParceiros .pergunta p {
        text-align: center;
        font-size: 1.4em !important;
    }

    section#nossosParceiros .botao a {
        justify-self: center;
    }

    section#nossosParceiros .tornarParceiro button {
        width: 145px;
        height: 55px;
    }

}

@media (min-width: 576px) {

    section#landing h1 {
        font-size: 37.5pt;
    }

    section#landing p {
        font-size: 16.5pt
    }

    section#nossosParceiros h2 {
        font-size: 15pt;
    }

    section#nossosParceiros p {
        font-size: 12pt;
    }

    section#nossosParceiros .tornarParceiro button {
        font-size: 15pt;
    }

}

@media (min-width: 992px) {

    section#landing {
        min-height: calc(100vh - 140px);
        padding: 28vh 16% 0 16%;
        text-align: center;
    }

    section#nossosParceiros .parceiros {
        transform: translateY(-30%);
    }

    section#nossosParceiros .parceiro {
        margin-bottom: -3em;
    }

    section#nossosParceiros .parceiro-imagem {
        width: 275px;
        height: 140px;
        margin: auto auto 3em auto;
    }

    section#nossosParceiros h2 {
        margin-bottom: 1.5em;
    }

    section#nossosParceiros .tornarParceiro button {
        width: 240px;
        height: 70px;
    }

}

#fundo-fitas {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 125vh;
    background: #102a83;
    background: -webkit-linear-gradient(0deg, #102a83 0%, #0375a0 100%);
    background: linear-gradient(-45deg, #102a83 0%, #0375a0 100%);
    overflow: hidden;
}

#fundo-fitas * {
    position: absolute;
}

section#landing {
    text-shadow: var(--text-shadow);
}

section#landing h1 {
    font-weight: bold;
}

section#landing p {
    max-width: 694pt;
    margin: auto;
    line-height: 1em;
}

section#nossosParceiros {
    z-index: 1;
    display: grid;
    align-content: space-between;
}

section#nossosParceiros p {
    line-height: 1.5em;
}

section#nossosParceiros .fundo {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background: var(--cor-fundo);
}

section#nossosParceiros .parceiros {
    justify-content: space-between;
}

section#nossosParceiros .parceiro {
    margin-bottom: 3em;
}

section#nossosParceiros .parceiro-imagem {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 0;
    min-height: 100px;
}

section#nossosParceiros .parceiro-imagem img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

section#nossosParceiros h2 {
    font-family: Inter;
    font-weight: bold;
    line-height: 1em;
}

section#nossosParceiros hr {
    margin: auto;
    background-color: var(--cor-preto);
    opacity: 0.2;
    padding-bottom: 2px;
    width: 100%;
    margin-bottom: 3em;
}

section#nossosParceiros .tornarParceiro button {
    border: 2px solid var(--cor-preto);
    background-color: var(--cor-button-2);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    font-family: Inter;
    font-weight: medium;
}