@media (min-width: 576px) {
    p {
        font-size: var(--font-size-lg-p);
    }

    h1 {
        font-size: var(--font-size-lg-h1)
    }

    .title h2 {
        font-size: var(--font-size-lg-h2);
    }

    .title h2 span {
        font-size: 37.5pt;
    }

    .valor h3 {
        font-size: var(--font-size-lg-h3);
    }

    section#landing {
        padding-top: 15vh;
    }
    
    .buttons .button-2 button{
        border: 2px solid var(--cor-fundo);
    }

    section#vejaTambem {
        line-height: 0.2em;
    }

    section#vejaTambem h2 {
        font-size: 22.5pt;
    }

    section#vejaTambem span {
        font-size: 12pt
    }

    section#vejaTambem .imagens {
        justify-content: space-around;
    }

    section#vejaTambem .imagens img {
        height: 100px;
    }
}

@media (min-width: 992px) {
    header {
        padding-top: 40px;
        position: relative;
    }

    header .navbar-brand img {
        height: 88px
    }

    header hr {
        color: transparent;
        background-color: var(--cor-fundo);
        padding-bottom: 1px;
        opacity: 1;
        margin: auto;
        margin-top: 10px;
    }

    main section#landing {
        min-height: calc(85vh - 35px);
    }

    section#nossosServicos .descricao-carrossel {
        left: 120%;
        top: 10%;
        width: 75%;
    }

    section#vejaTambem hr {
        display: none;
    }

    .title {
        height: 82px;
    }
}