@media (max-width: 575px) {
    p {
        font-size: var(--font-size-sm-p);
    }

    h1 {
        font-size: var(--font-size-sm-h1);
    }

    .valor h3 {
        font-size: var(--font-size-sm-h3);
    }

    section#vejaTambem .imagens img {
        height: 88px;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 110px;
    }

    header {
        position: fixed;
        top: 0;
        padding-top: 0px;
        border-radius: 0 0 15px 15px;
        background-color: var(--cor-primaria);
    }

    header .navbar-brand img {
        height: 46px;
        margin-left: 10%;
    }

    header #togglerWrapper {
        /* Dimensionamento em 1:1 */
        position: relative;
        height: 0;
        width: 90px;
        padding-bottom: 100%;
    }

    header .navbar-toggler {
        position: absolute;
        background-color: var(--cor-secundaria);
        border: none;
        border-radius: 0;

        /* Dimensionamento em 1:1 */
        height: 100%; width: 100%; top:0; left: 0;
    }

    header .navbar-toggler.collapsed {
        transition: 1.5s;
        border-radius: 0 0 15px 0;
    }

    header #navbarNav {
        background-color: var(--cor-secundaria);
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }

    header #navbarNav * {
        padding: 4px 0;
    }

    header hr {
        display: none;
    }

    section {
        padding: 25px;
        border-radius: 20px 20px 0 0;
        transform: translate(0, -210px);
    }

    section#landing {
        padding-top: 45vh;
    }

    section#landing .buttons {
        position: absolute;
        bottom: 10px;
        left: 0;
        padding: 0 25px;
        margin: 0;
        width: 100%;
        font-size: 9pt;
    }

    section#landing .buttons > *{
        padding: 5px;
    }

    .buttons .button-2 button{
        border: 1px solid var(--cor-fundo);
    }

    section#nossosServicos #servicos .linha-divisoria{
        display: none;
    }

    section#nossosServicos .descricao-carrossel {
        left: 0%;
        top: 110%;
        width: 100%;
        text-align: center;
    }

    section#vejaTambem {
        text-align: center;
        line-height: 0.4em;
    }

    section#vejaTambem h2 {
        font-size: 13.5pt;
    }

    section#vejaTambem span {
        font-size: 7.5pt;
    }

    section#vejaTambem .imagens {
        justify-content: center;
    }

    .title {
        height: 50px;
    }
    
    .title h2 {
        font-size: var(--font-size-sm-h2);
        line-height: 2.2em;
    }

    .title h2 span {
        font-size: 18pt;
    }


    .blank {
        height: 25vh;
    }
}