div#fundo-criancas {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: var(--cor-primaria);
    background-image: url("images/fundo-criancas.png");
    background-position: center top;
    background-size: cover;
}

header {
    text-shadow: var(--text-shadow);
    z-index: 5;
}

header .navbar-brand {
    padding-top: 10px;
    width: 25%;
    min-width: 0;
}

header .navbar-brand img {
    padding-left: 10px;
}

header nav a.nav-link {
    color: #90bbd1;
    text-decoration: none;
    font-family: var(--font-family-navlink);
    font-size: var(--font-size-navlink);
    font-weight: var(--font-weight-navlink);
    transition: 0.15s ease-out;
}

header nav a.nav-link:hover {
    filter: brightness(0.8);
    transition: 0.15s ease-out;
}

header nav a.nav-link.active {
    color: var(--cor-fundo);
}

#sobre-mim, #nossos-servicos {
    min-height: 100vh;
}

main section#landing {
    padding-top: 15vh;
    text-shadow: var(--text-shadow);
}

section#landing h1 strong {
    font-size: 1.1em;
}

section#sobre-mim {
    color: black;
}

section#sobre-mim .valores {
    margin: 0;
    align-content: start;
    margin-top: -6rem;
}

section#sobre-mim .valor {
    height: 130px;
    padding: 0;
}

section#sobre-mim .valor-descricao {
    display: inline-block;
    padding: 2%;
    width: 50%;
    height: 100%;
}

section#sobre-mim .valor-descricao p {
    font-size: 12pt;
}

section#sobre-mim .valor-imagem {
    display: inline-block;
    vertical-align: top;
    width: 158px;
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
    background-color: lightgray;
}

main section#nossos-servicos {
    background: #1f388a;
    background: -webkit-linear-gradient(112deg, #1f388a 0%, #5fdecf 100%);
    background: linear-gradient(112deg, #1f388a 0%, #5fdecf 100%);
}

section#nossos-servicos #servicos {
    height: 60vh;
    width: 100%;
}

section#nossos-servicos #servicos .carousel-inner {
    height: 85%;
    border-radius: 10px;
}

section#nossos-servicos #servicos .descricao-carrossel{
    color: transparent;
    position: absolute;
}

section#nossos-servicos #servicos .active .descricao-carrossel {
    color: white !important;
    transition: 200ms ease-in-out;
}

section#veja-tambem {
    position: relative;
    padding: 2vh 0;
}

section#veja-tambem h2 {
    font-family: Lusitana;
    font-size: 22.5pt;
    font-weight: bold;
    line-height: 1.5em;
}

section#veja-tambem span {
    font-size: 12pt;
}

section#veja-tambem .imagens img {
    display: inline-block;
    border-radius: 6px;
    width: 48%;
    margin-right: 1%;
}

footer {
    z-index: -1;
    height: 25vh;
    padding: 45px 0;
    position: relative;
    background-color: var(--cor-footer);
}

footer .fundo {
    width: 100%; height: 100%;
    background-image: url("images/logo-la-branco.png");
    background-repeat: no-repeat;
    background-position: -25px -60px;
    background-size: 22%;
    opacity: 0.3;
    filter: brightness(0.4);
}

footer #footer-logo {
    height: 88px;
}

footer #redesSociais {
    width: 60%;
    position: absolute;
    right: 0;
}

footer #redesSociais .rede-social img {
    width: 100%;
}

section {
    padding: 8vh 0;
}

hr {
    color: transparent;
    padding-bottom: 1px;
    opacity: 1;
    margin: auto;
    margin-top: 10px;
}

p {
    font-family: var(--font-p);
    font-weight: var(--font-weight-p);
    line-height: var(--line-height-p);
}

h1 {
    font-family: var(--font-family-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-family: var(--font-family-h2);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-family: var(--font-family-h3);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3);
}

h2 span {
    font-family: Lusitana;
    font-size: 37.5pt;
    font-weight: bold;
}

.buttons {
    margin-top: 10%;
}

.buttons button {
    width: 100%;
    height: 40pt;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: 0.15s ease-out;
}

.buttons button:hover {
    filter: brightness(0.6);
    transition: 0.15s ease-out;
 }

.buttons .button-1 button {
    color: black;
    border: none;
    background-color: var(--cor-button-1);
}

.buttons .button-2 button {
    color: white;
    border: 2px solid var(--cor-fundo);
    background-color: var(--cor-button-2);
}

.title {
    height: 82px;
    margin-bottom: 82px;
}

.title img {
    height: 100%;
    vertical-align: top;
    margin-right: 18px;
}

.title h2 {
    display: inline-block;
    vertical-align: top;
}

.fundo {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
 
    width: 100%;
    height: 100%;
}

.dark {
    color: white;
}

.light {
    color: black
}