/* OUTFIT FONT */
@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* INTER FONT */

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold; 
    font-style: normal;
}

header ul li {
    margin: 0 20px;
}

main {
    padding: 20px 0;
}

main > hr {
    margin-bottom: 50px;
}

section {
    margin: 20px 0;
}

h1 {
    font-size: 30pt;
    font-family: Outfit;
    font-weight: bold;
}

h2 {
    font-size: 30pt;
    font-weight: 400;
}

h3 {
    font-family: Outfit;
    font-weight: normal;
}

p {
    font-family: Inter;
    font-size: 15pt;
}

nav {
    font-family: Outfit;
    font-weight: 400;
}

.navbar-brand {
    font-size: 24pt;
    font-weight: bold;
}

.nav-link {
    font-size: 18pt;
}

hr {
    border-top: 3px solid #d8953f;
    opacity: 1;
}

button a{
    font-family: Outfit;
}

.bg-mustard {
    background-color: #fff5e9;
}

#sobre-mim {
    padding: 10%;
    color: white;
}

#sobre-mim .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/crianca-brincando.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    clip-path: rect(0 0px 100% 100%);
}

#sobre-mim h3 {
    font-size: 48pt;
}

#veja-tambem {
    padding-top: 5%;
}

#veja-tambem span {
    font-size: 15pt;
}

#veja-tambem h3 {
    font-size: 30pt;
}

.faixada {
    position: absolute;
    top: 0;
    transform: translate(0, -110%);
    width: 100%;
}

#especialidades {
    background-color: #ffeddd;
}

#especialidades h3 {
    font-family: Inter;
    font-weight:  normal;
    font-size: 15pt;
}

#especialidades #titulo-especialidades {
    font-family: Outfit;
    font-weight: normal;
    font-size: 30pt;
}

.title-especialidade {
    font-family: Outfit;
    font-weight: 600;
    font-size: 18pt;
}

footer span#footer-span {
    font-family: Outfit;
    font-weight: bold;
    font-size: 24pt;
}

footer p {
    font-family: Inter;
    font-weight: 300;
    font-size: 12pt;
}

footer p#copyright-footer {
    font-size: 10.5pt;
    color: #cfcfcf;
}
