:root {
    --cor-primaria: #102a83;
    --cor-secundaria: #019fde;
    --cor-fundo: #f5fbfe;
}

/* OUTFIT FONT */
@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("fonts/Outfit/Outfit-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* INTER FONT */

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: bold; 
    font-style: normal;
}

body {
    color: var(--cor-fundo);
}

div#fundo-criancas {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: var(--cor-primaria);
    background-image: url("images/fundo-criancas.png");
    background-position: center top;
    background-size: cover;
}

header {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22);
    padding-top: 40px;
}

.navbar-brand {
    width: 25%;
    min-width: 0;
}

.navbar-brand img {
    padding-left: 10px;
}

nav a.nav-link {
    color: #90bbd1;
    text-decoration: none;
    font-family: Outfit;
    font-size: 15pt;
    font-weight: bold;
}

nav a.nav-link.active {
    color: var(--cor-fundo);
}

hr {
    color: transparent;
    background-color: var(--cor-fundo);
    padding-bottom: 1px;
    opacity: 1;
    margin: auto;
    margin-top: 10px;
}

p {
    font-family: Inter;
    font-size: 15pt;
}

h1 {
    font-family: Outfit;
    font-weight: regular;
    font-size: 36pt;
}

h1 strong {
    font-size: 37.5pt;
}

#sobre-mim .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/crianca-brincando.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    clip-path: rect(0 0px 100% 100%);
}
